
Lafore-Book-Tasks-Java/.idea/codeStyles/codeStyleConfig.xml
Lafore-Book-Tasks-Java/.idea/codeStyles/Project.xml
Lafore-Book-Tasks-Java/.idea/misc.xml
Shen-Book-Tasks-Python/.idea/misc.xml
Shen-Book-Tasks-Python/.idea/vcs.xml
Shen-Book-Tasks-Python/.idea/Shen-Book-Tasks-Python.iml
Shen-Book-Tasks-Python/.idea/modules.xml
Shen-Book-Tasks-Python/.idea/inspectionProfiles/Project_Default.xml
Shen-Book-Tasks-Python/.idea/inspectionProfiles/profiles_settings.xml
